* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-dark: #5A5B59;
  --primary-white: #F8F7F3;
  --primary-orange: #FC8B03;
  --primary-bisque: #ffe4c4;
  --primary-darkblue: #394d4c;
  --primary-grey: #363430;
  --primary-red: #C70039;
  --primary-lightgrey: rgb(240,240,240);
  --primary-lightorange: #FDEDD7;
  --primary-fonts: 'Play', sans-serif;;
}

html {
	scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
}

/***************APP***************/

.App {
  overflow: hidden;
}

/***************NAVBAR***************/

nav {
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: var(--primary-dark);
  min-height: 18vh;
  width: 100vw;
  z-index: 3;
}

.nav-logo {
  color: white;
  font-size: 2rem;
  font-weight: 100;
  font-family: 'Anybody', cursive;
  margin: auto 2rem;
  display: flex;
}

.nav-logo h1 {
  margin: 1rem;
}

.blog {
  color: var(--primary-orange);
}

nav button {
  max-height: 2rem;
  min-width: 4rem;
  
}

@media only screen and (max-width: 600px) {
  nav{
    width: 100vw;
  }
  .nav-logo{
    font-size: 1.5rem;
    margin: 1rem;
  }
  .nav-links {
    display: none;
  }
  .nav-hamburger {
    display: inline;
    font-size: 2rem;
  }
}

@media only screen and (min-width: 600px) {
  .nav-links {
    display: none;
  }
  .nav-hamburger {
    display: inline;
    font-size: 2rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .nav-links {
    display: none;
  }
  .nav-hamburger {
    display: inline;
    font-size: 2rem;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .nav-hamburger {
    display: none;
  }
  .nav-links {
    display: inline;
  }
}

/* MAIN **************************/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 18vh;
  min-height: 90vh;
  width: 100vw;
  background-color: var(--primary-lightgrey);
}

.main form{
  padding: 2rem;
  margin: 2rem auto;
  width: 50%;
}

.main label {
  align-self: flex-start;
  padding-left: 2rem;
}

.main input {
  color: var(--primary-dark);
  width: 100%;
  padding: 0.5rem 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1.2rem;
}

/*----------BLOG CARD---------*/

.blogcard {
  width: 60vw;
  display: flex;
  margin-bottom: 2rem;
  border: 3px solid var(--primary-orange);
  border-radius: 3px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.15);
}

.blogcard-thumbnail {
  max-width: 20rem;
  max-height: 20rem;
  border: 20px solid var(--primary-lightorange);
}

.blogcard-desc-container {
  color: var(--primary-dark);
  padding: 1rem;
}

.blogcard-desc-container h2 {
  color: var(--primary-orange);
  padding-bottom: 0.5rem;
}

.blogcard-desc-container p {
  font-size: 1.15rem;
  padding-bottom: 0.5rem;
}

.blogcard-desc-container span {
  color: var(--primary-orange);
  font-weight: bold;
}

/*----------CONTACTS----------*/

.contacts-wrapper {
  display: flex;
  background-color: var(--primary-dark);
  max-height: 30vh;
  width: 100vw;
}

.contacts-main {
  margin: 2rem auto;
  text-align: center;
}

.contacts-greeting {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.contacts-greeting h2 {
  color: var(--primary-white);
  font-family: 'Open Sans', sans-serif;
}

.contacts-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  color: var(--primary-orange);
  margin-bottom: 1rem;
}

.contact-icon {
  color: var(--primary-orange);
  font-size: 3rem;
  margin: 1rem;
}

.contact-icon:hover {
  color: var(--primary-white);
  transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 600px) {
  .contacts-greeting {
    margin-bottom: 2rem;
  }
  .contacts-greeting h2 {
    font-size: 1.3rem;
  }
  .contact-icon {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .contacts-title {
    font-size: 3rem;
  }
  .contacts-greeting h2 {
    font-size: 2rem;
  }
}

/*----------BLOG ARTICLE----------*/

.blogarticle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 18vh;
  min-height: 90vh;
  width: 100vw;
  background-color: var(--primary-lightgrey);
}

.blogarticle-main {
  margin: 2rem 6rem;
}

.blogarticle-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-dark);
  border: 3px solid var(--primary-dark);
  border-radius: 1rem;
}

.blogarticle-image {
  padding-bottom: 3rem;
  text-align: center;
  max-height: 30rem;
  max-width: 30rem;
}

.blogarticle-main h1 {
  color: var(--primary-orange);
  font-family: var(--primary-fonts);
  margin: 2rem;
  font-size: 3rem;
}

.blogarticle-article {
  margin: 5rem auto;
  font-size: 1.3rem;
  max-width: 75%;
}

.blogarticle-article h1 {
  text-align: center;
  color: var(--primary-dark);
  font-size: 2.25rem;
}

.blogarticle-article p {
  padding: 0.5rem 0;
}